@media only screen and (min-width: 1921px) and (max-width: 4800px) {}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {}


@media all and (max-width: 1439px) {
  .container,
  section.whats-new-area .container,
  section.favorite-facrices-area .container {
    max-width: 90%;
  }
  .newsletter-left h3 {
      padding-right: 20px;
  }
  .search-news-area > button {
      padding: 15px 20px;
  }
  .search-news-area input {
      margin-right: 30px;
  }
  .menu ul li.has-submenu .submenu {
      top: 90px;
      max-width: 98%;
      width: 100%;
      left: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1300px){
  .menu {
      padding-right: 90px;
  }
  .menu ul li a, .faq ul li a {
      padding: 20px 29px;
  }
  .header-search-right {
      flex: 0 0 70%;
  }
  .search-form {
    flex: 0 0 74%;
      padding-left: 50px;
  }
  .search-inner-area > button > img {
      width: 40px;
  }
  .header-main-area {
      align-items: center;
  }
  .search-news-area > button {
      padding: 11px 13px;
  }
  .newsletter-left span {
    margin-right: 5px;
}

}

@media all and (max-width:991px){
  .is-desktop-search{
    display: none;
  }
  .is-mobile-search{
    display: block;
    position: relative;
 }

 .mobile-search-box{
  position: fixed;
  width: 96%;
  top: 15%;
  left: 0px;
  display: none;
  font-style: normal;
  background: #FEFCFC;
  z-index: 9;
  padding: 15px 15px;
 }
 input.mobile-search {
  border: 1px solid #000000;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}


input.mobile-search::placeholder{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
 .search-form.is-mobile-search img {
  width: 40px;
}
.header-logo-left {
  flex: 0 0 50%;
  justify-content: unset;
}
.search-form {
  flex: 1;
  text-align: end;
}
.header-search-right {
  flex: 1;
}
.logo-img > a > img {
  max-width: 145px;
}
.menu ul li a, .faq ul li a {
  padding: 20px 18px;
}
.menu {
  padding-right: 20px;
}

ul.submenu > li a {
  padding: 10px 40px;
}
.newsletter-main {
  gap: 20px;
}
.newsletter-left {
  flex: 0 0 50%;
  flex-direction: column;
  align-items: flex-start;
}
.newsletter-left span {
  margin-top: 8px;
}
.search-news-area.flex {
  flex-direction: column;
}
.search-news-area > button {
  width: 155px;
  margin: 0 auto;
  margin-top: 5px;
}
.common-heading h2 {
  font-size: 25px;
}
.whats-new-area {
  padding-top: 15px;
  padding-bottom: 15px;
}
.common-heading h3 {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 20px;
}
.whats-new-main.favorite-facrices-main {
  padding-top: 15px;
}
.is-desktop-info{
  display: none;
}


}

@media all and (max-width:767px){
  .is-desktop-menu,
  .is-desktop-logo,
  .is-desktop{
    display: none;
  }
  .mobile-search-box {
    top: 10%;
}
  .whats-new-main {
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;
}
.common-heading h2 {
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 22px;
}
.newsletter-left h3 {
  font-size: 12px;
  line-height: 15px;
}
.newsletter-left span {
  font-size: 12px;
  line-height: 12px;
  color: #000;
}
.newsletter-area {
  padding: 7px 0px;
}

.search-news-area input {
  height: 25px;
}

button.is-mobile {
  background: #EDBD2B;
  color: #000;
  font-size: 10px;
  line-height: 12px;
  padding: 4px 15px;
}
  .is-mobile-logo,
  .is-mobile-main-menu,
  .is-mobile{
    display: block;
  }
  .search-form {
    padding-left: 24px;
}
.user-info > ul li a img {
  width: 30px;
  height: auto;
}
.search-form.is-mobile-search img {
  width: 32px;
}
.logo-img.flex {
  align-items: center;
  padding-left: 30px;
}
.header-logo-left {
  margin-left: 14px;
}

/* mobile menu css */
.header-main-area{
  position: relative;
  padding-top: 15px;
  padding-bottom: 14px;
}
.openLevel > img {
  width: 94%;
  height: auto;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.humberger-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.humberger-toggle img {
  margin: 3PX;
  width: 32px;
  height: 3px;
}

.parent-catagory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.parent-catagory > img {
  width: 70px;
  height: auto;
}

section.is-mobile-main-menu nav ul li:nth-of-type(2) .openLevel .parent-catagory{
  background: #0092AA;
}
section.is-mobile-main-menu nav ul li:nth-of-type(3) .openLevel .parent-catagory{
  background: #509091;
}
section.is-mobile-main-menu nav ul li:nth-of-type(4) .openLevel .parent-catagory{
  background: #DCCFBF;
}
section.is-mobile-main-menu nav ul li:nth-of-type(5) .openLevel .parent-catagory{
  background: #FEE8EA;
}
section.is-mobile-main-menu nav ul li:nth-of-type(6) .openLevel .parent-catagory{
  background: #F2A498;
}
.parent-catagory > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
  padding-left: 29px;
}

section.is-mobile-main-menu nav ul li {
  padding: 0px 9px;
  margin-left: 15px;
}


.pushNav {
    width: 320px;
    left: -75%;
 }


  .pushNav {
    width: 350px;
    left: -350px;
 }

ul.pushNav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.pushNav {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-x: hidden;
  background: #fff;
  transition: ease-in-out 0.5s;
  overflow-y: scroll;
}
.pushNav hr {
  border: 1px solid #555;
}

.pushNavIsOpen {
  overflow: auto;
  height: 100%;
}
.js-topPushNav.isOpen, .pushNav_level.isOpen {
  left: 0;
}
.closeLevel, .openLevel {
  cursor: pointer;
}
.openLevel, .closeLevel, .pushNav a {
  padding-bottom: 20px;
  display: block;
  text-indent: 9px;
  transition: background 0.4s ease-in-out;
}

.pushNav a {
  padding: 15px;
  display: block;
  text-indent: 9px;
  transition: background 0.4s ease-in-out;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.39);
  padding-left: 0px;
}
.pushNav.js-pushNavLevel li:last-child a{
  border-bottom: none;
}

.hdg {
  background-color: #fff;
  padding: 18px 10px !important;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.hdg > img {
  width: 28px;
  margin-right: 10px;
  padding-left: 8px;
}
.burger {
  position: absolute;
  top: 20px;
  left: 28px;
}
.burger i {
  font-size: 3em;
}
.screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.pushNavIsOpen .screen {
  height: 100%;
  opacity: 1;
}
.fa {
  display: inline;
  padding: 5px;
}
/* body {
  background: url(https://static.pexels.com/photos/379600/pexels-photo-379600.jpeg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
} */
.wrapper {
  max-width: 320px;
  padding: 0 20px;
  color: #fff;
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.4em;
}
.wrapper a {
  color: #20c270;
  text-decoration: none;
}
.wrapper button {
  background-color: #20c270;
  margin: 50px auto;
  display: block;
  padding: 10px 40px;
  border: none;
}
.wrapper button:hover {
  background-color: #18a960;
}
.wrapper button a {
  color: #fff;
  font-size: 2em;
}


}

@media all and (max-width:575px){
	.burger {
      top: 16px;
      left: 19px;
  }
  .newsletter-left span {
    margin-top: 2px;
}
.search-news-area > button {
  width: 95px;
}
.user-info > ul {
  justify-content: end;
  margin-right: -7px;
}
.newsletter-left span {
  font-size: 10px;
}
section.is-mobile-main-menu nav ul li {
  margin-left: 0px;
}
.mobile-search-box {
  top: 7%;
  width: 94%;
}


}

@media all and (max-width:413px){
  .pushNav {
    width: 270px;
    left: -270px;
  }
}

@media all and (max-width:374px){
  .user-info > ul {
      margin-right: 0px;
  }
  .search-form {
    padding-left: 10px;
}
.search-form.is-mobile-search img {
  width: 26px;
}
.burger {
  left: 10px;
}
.logo-img.flex {
  padding-left: 22px;
}
.header-logo-left {
  flex: 0 0 46%;
  justify-content: unset;
}
.humberger-toggle img {
  width: 28px;
}

.parent-catagory > h2 {
  padding-left: 5px;
}
section.is-mobile-main-menu nav ul li {
  margin-left: 0px;
}


}






